.modal__container {
  width: 430px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .modal__container {
    width: 320px;
    padding-top: 55px;
    margin-top: 22px;
  }
}