.footer-block__social {
  display: flex;
  flex-direction: row;
  width: 68px;
  justify-content: space-between;
  margin-left: 42px;
}

@media screen and (max-width: 1024px) {
  .footer-block__social {
    width: 69px;
    margin-left: 26px;
  }
}