.modal__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  text-align: start;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
}