.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 448px;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 288px;
    flex-direction: column;
  }
}