.search-block__container {
  width: 608px;
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .search-block__container {
    width: 448px;
  } 
}

@media screen and (max-width: 600px) {
  .search-block__container {
    width: 288px;
  } 
}