.header__mobile-menu {
  background-image: url(../../../images/menu.svg);
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-position: center;
}