.header__home-link {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 26px;
  padding-top: 11px;
  margin-bottom: -23px;
}

@media screen and (max-width: 1024px) {
  .header__home-link {
    font-size: 16px;
    width: 69px;
    text-align: center;
    border-bottom: none;
    margin-bottom: 0;
    /* padding-bottom: 26px; */
    padding-bottom: 0;
    padding-top: 0;
    align-self: center;
  }

}

@media screen and (max-width: 600px) {
  .header__home-link {
    margin-left: -204px;
  }
}