.header__navigation {
  width: calc(100% - 104px * 2);
  margin: 0 auto;
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  /* color: #FFFFFF; */
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .header__navigation {
    padding-top: 14px;
    width: calc(100% - 80px * 2);
  }
}

@media screen and (max-width: 600px) {
  .header__navigation {
    width: calc(100% - 16px * 2);
    padding: 0;
    padding-top: 16px;
    /* position: fixed;
    top: 0;
    left: 0; */
    z-index: 4;
  }
}