.news-card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 735px) {
  .news-card {
    margin-bottom: 11px;
  }
}
