.modal__submit-button {
  margin: 0;
  padding: 20px 115px;
  background-color: #E6E8EB;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal__submit-button {
    width: 288px;
    padding: 20px 79px;
  } 
}