.header__nav-link {
  margin: 0 64px;
  text-decoration: none;
  color: #B6BCBF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  .header__nav-link {
    margin: 0 16px;
    font-size: 16px;
  }
}