.header__log-button_mode_news {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

@media screen and (max-width: 600px) {
  .header__log-button_mode_news {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }
}