.footer-block__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  width: 110px;
  text-decoration: none;
}

.footer-block__link:last-of-type {
  width: 192px;
}

@media screen and (max-width: 1024px) {
  .footer-block__link {
    width: 88px;
  }

  .footer-block__link:last-of-type {
    width: 176px;
  }  
}

@media screen and (max-width: 680px) {
  .footer-block__link {
    width: 200px;
    text-align: left;
  }
  
  .footer-block__link:last-of-type {
    margin-top: 20px;
  }
}