.footer-block__social-link_type_facebook {
  background-image: url(../../../../images/Facebook.svg);
}

@media screen and (max-width: 1024px) {
  .footer-block__social-link_type_facebook {
    width: 22px;
    height: 22px;
  }  
}
