.preloader-block__image_mode_searching {
	width: 74px;
  height: 74px;
	background-image: url(../../../../../images/Ellipse.png);
  animation: spin .75s infinite linear;
}
  @keyframes spin {
	  100% {
		  transform: rotate(360deg);
	} 
}