.news-card__hover-text {
  position: absolute;
  top: 24px;
  right: 69px;
  padding: 13px 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .news-card__hover-text {
    top: 12px;
    right: 47px;
    padding: 13px 10px;
  }
}

@media screen and (max-width: 805px) {
  .news-card__hover-text {
    padding: 13px 3px;
  }
}


@media screen and (max-width: 600px) {
  .news-card__hover-text {
    top: 8px;
    right: 52px;
    padding: 13px 20px;
  }
}